<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="icon2.png">
    <title>Question..</title>
</head>
<body>
    <div id="rect" style="width: 100vw; height: 3vh; background: rgb(0, 255, 0);;"></div>
    <div class="centering">
        <h1><%= questions[randInt].qQuestion %></h1>
        <script>var rightAns = "<%= questions[randInt].qRightAnswer %>";</script>
        <h2 id="wins-to-losses"></h2>
    </div>
    <div class="col-1">
    <div id="a1" class="answer-btns" onclick="onBtn(1)"><%= questions[randInt].qAnswers[0]%></div>
    <div id="a2" class="answer-btns" onclick="onBtn(2)"><%= questions[randInt].qAnswers[1]%></div>
    </div>
    <div class="col-2">
    <div id="a3" class="answer-btns" onclick="onBtn(3)"><%= questions[randInt].qAnswers[2]%></div>
    <div id="a4" class="answer-btns" onclick="onBtn(4)"><%= questions[randInt].qAnswers[3]%></div>
    </div>   
</body>
<script>
var a1 = document.getElementById("a1");
var a2 = document.getElementById("a2");
var a3 = document.getElementById("a3");
var a4 = document.getElementById("a4");

function onBtn(n) {
    var x;

    if (n == 1) {
        x = a1;
    } else if (n == 2) {
        x = a2;
    } else if (n == 3) {
        x = a3;
    } else if (n == 4) {
        x = a4;
    }

    if (rightAns == x.innerHTML) {
        localStorage.setItem('points', Number(localStorage.getItem('points')) + 10);
        localStorage.setItem("time", (Number(localStorage.getItem("time")) + (timer / 100)).toFixed(2));
        console.log(localStorage.getItem("time"));
        window.location.href = "win.html";
    } else {
        localStorage.setItem("points", Number(localStorage.getItem("points")) - 5);
        localStorage.setItem("time", (Number(localStorage.getItem("time")) + (timer / 100)).toFixed(2));
        window.location.href = "lost.html";
    }
}

if (localStorage.getItem('wins') >= 10) {
    window.location.href = "/leaderboard";
}

var score = document.getElementById("wins-to-losses");
score.innerHTML = localStorage.getItem("wins") + " - " + localStorage.getItem("lose");

var timer;

(function() {
    var maxTime = 3000;
    var diff = 0;
    var timerRect = document.getElementById("rect");

    timer = setTimeout(function run() {
        timerRect.setAttribute("style", "background: rgb(" + (255 - (100 * (maxTime - diff) / maxTime)).toString() + ", " + (255 * (maxTime - diff) / maxTime).toString() + ", 0); height: 3vh; width:" + (100 * (maxTime - diff) / maxTime).toString() + "vw");
        diff++;

        if (maxTime - diff !== -1) {
            timer = setTimeout(run, 1); 
        } else {
            setTimeout(function() {
                localStorage.setItem("time", localStorage.getItem('time')+30);
                window.location.href = "lost.html";
            }, 30000);
        }
    }, 1000);
})();
</script>
</html>